:root {
	--primary: #909faa;
	--secondary: #104547;
	--secondary-two: #727072;
	--accent: #afebd0;
}

/* Element selectors */

header {
	background-color: var(--secondary);
	color: var(--accent);
	padding: 20px;
}

header h1 {
	font-size: 225%;
	display: inline-block;
	padding: 5px;
	background-color: var(--accent);
	color: var(--secondary);
	box-shadow: 0px -20px var(--accent);
}

header div {
	float: right;
}

header div ul {
	display: flex;
}

header div li {
	margin: 10px;
}

main > img {
	height: 250px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	margin-bottom: 20px;
}

body {
	background-color: var(--primary);
}

section {
	display: flex;
	margin: 20px 15%;
}

section h2 {
	font-size: 220%;
	color: var(--accent);
	flex: 0 0 150px;
	border-right: 5px solid var(--accent);
	text-align: right;
	margin-right: 30px;
	padding-right: 20px;
}

section > div {
	width: 100%;
}

section > div > p {
	line-height: 25px;
}

/* Class selectors */

.projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	gap: 15px;
}

.projects img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.projects > div {
	border: 5px solid var(--accent);
}

.main-project {
	flex-basis: 100%;
	max-height: 500px;
}

.sub-project {
	flex: 1 1 40%;
	max-height: 300px;
}
