:root {
	--primary: #909faa;
	--secondary: #104547;
	--secondary-two: #727072;
	--accent: #afebd0;
}

/* Element selectors */

header {
	background-color: var(--secondary);
	color: var(--accent);
	padding: 20px;
}

header h1 {
	font-size: 225%;
	display: inline-block;
	padding: 5px;
	background-color: var(--accent);
	color: var(--secondary);
	box-shadow: 0px -20px var(--accent);
}

header div {
	float: right;
}

header a {
	text-decoration: none;
	color: var(--accent);
	border-bottom: 3px solid;
	font-size: 140%;
}

header div ul {
	display: flex;
}

header div li {
	margin: 10px;
}

body {
	background-color: var(--primary);
}

section {
	display: flex;
	margin: 20px 15%;
}

section h2 {
	font-size: 220%;
	color: var(--secondary);
	flex: 0 0 175px;
	border-right: 5px solid var(--secondary);
	text-align: right;
	margin-right: 30px;
	padding-right: 20px;
}

section > div {
	width: 100%;
}

section > div > p {
	line-height: 25px;
}

h3 {
	font-size: 160%;
}

/* Class selectors */

.projects {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	gap: 15px;
}

.projects img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	opacity: 60%;
	transition: opacity 0.2s ease-in-out;
}

.projects > div {
	border: 5px solid var(--accent);
}

.main-project {
	flex-basis: 100%;
	max-height: 500px;
	position: relative;
}

.sub-project {
	flex: 1 1 40%;
	max-height: 300px;
	position: relative;
}

.project-card {
	position: absolute;
	bottom: 20px;
	padding: 7px;
	background-color: var(--accent);
	color: var(--secondary);
}

.main-project a:hover img,
.sub-project a:hover img {
	opacity: 100%;
}

/* Id selectors */

#main-image {
	position: relative;
}

#main-image .profile {
	position: absolute;
	top: 20%;
	left: 50px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

#main-image img {
	object-fit: cover;
	object-position: center;
	height: 425px;
	width: 100%;
	margin-bottom: 20px;
}

#contact div {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: space-around;
}

#contact h3 {
	font-size: 175%;
	color: var(--secondary);
}

#contact a {
	color: var(--secondary);
	text-decoration: none;
	border-bottom: 5px solid;
}
